input, textarea, select {
	width: 100%;
	color: black;
}

.navbar-header {
	float: none;
}

.navbar {
	border-radius: 0;
	margin: auto;
	padding: 10px;
	margin-top: 0;
	display: block;
}

.navbar-nav > li > a {
	padding-top: 1rem;
	padding-left: 1rem !important;
	padding-bottom: 1rem;
}

.navbar-nav > .active {
	color: #ffffff;
	background-color: #28415b
}

.fill {
	width: 100%;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.container-fluid > * {
	margin: auto !important;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .row {
	margin: 0;
	padding: 0;
}

.row {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.row:before, .row:after {
	display: none !important;
}

*:before, *:after {
	display: none !important;
}

.navbar-nav {
	float: none;
}

thead {
	background: #1d2f43;
}

table, .alert {
	margin-bottom: 0;
}

.pagination {
	margin: 0;
}

.badge {
	font-size: 90%;
	font-weight: normal;
	padding: 0.5rem;
}

.card {
	border-color: black;
}

.card-body {
	margin: 0;
}

.card-body > * {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	min-width: 15rem;
}
